<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="/css/page.css">
    <title>FEEDBACK HUB</title>
</head>
<body>
    <nav>
        <div class="nav_header">
            <div class="nav_logo">
                <a href="#">feedback<span>hub</span>.</a>
            </div>
            <div class="nav_menu__btn" id="menu-btn">
                <span><i class="ri-menu-line"></i></span>
            </div>
        </div>
        <ul class="nav_links" id="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Give Feedback</a></li>
            <li><a href="#">View Feedback</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <div class="nav__btns">
          
            <a href="/registration -page/registration.html" class="btn sign__in"> Register </a>
        </div>
    </nav>
    <header class="header__container">
        <div class="header__image">
            <div class="header__image__card header__image__card-1">
                <span><i class="ri-key-line"></i></span>
                Mentoring System
            </div>
            <div class="header__image__card header__image__card-2">
                <span><i class="ri-key-line"></i></span>
                Community Engagement
            </div>
            <div class="header__image__card header__image__card-3">
                <span><i class="ri-key-line"></i></span>
                Search and Filter System
            </div>
            <div class="header__image__card header__image__card-4">
                <span><i class="ri-key-line"></i></span>
                Feedback and Guidance<br/>Submission
                 
            </div>
            <img src="/main/innotech.jpg" alt="header"/>
        </div>
        <div class="header__content">
            <h1>WELCOME!!<br /> TO <span>FEEDBACK HUB</span><br/>"Your Experience<br/> Matters:<br/>Help Shape the<br/> future<br/>of Juniors."</h1>
            <p>
                A unique platform where senior students <br/>provide guidance, share experiences and<br/>offer feedback to juniors navigating their<br/>college academic journey. 
            </p>
            <div class="bar">
                Copyright &copy; 2024 Web Design Mastery.All rights reserved.

            </div>

        </div>
    </header>
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="/js/page.js"></script>
</body>
</html>
